<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sandbox Suite">
    <test thread-count="5" name="patrycja">
        <classes>
            <class name="sandbox.ChromeTest"/>
        </classes>
    </test> <!-- patrycja -->
</suite> <!-- Default Suite -->